<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913377494399-6pd7a9jptuo6htrgc8olfun1b98tj8il.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913377494399-6pd7a9jptuo6htrgc8olfun1b98tj8il</string>
	<key>API_KEY</key>
	<string>AIzaSyBusr_2ED-c59VwOsuAPquXuqGB-1ld0UY</string>
	<key>GCM_SENDER_ID</key>
	<string>913377494399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.uni</string>
	<key>PROJECT_ID</key>
	<string>uni-auth-35622</string>
	<key>STORAGE_BUCKET</key>
	<string>uni-auth-35622.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913377494399:ios:77651ef0febeeb2979464a</string>
</dict>
</plist>